<% content_for :title do %>
: Game #<%= @game.id %> - Round #<%= params[:id] %> of <%= @game.total_rounds %>
<% end %>

<h2>Game #<%= link_to(@game,@game) %> - Round #<%= params[:id] %> of <%= link_to @game.total_rounds, game_rounds_path(@game) %></h2>
<h4>First to <%= @game.first_to %></h4>

<div class='container'>
  <p>
    <b>Round #<%= @round %></b>
  </p>

  <p>
    <b>Result:</b>
    <%= @winner ? (link_to(@winner,@winner, class: @round.winner == 1 ? 'win' : 'loss' ) + " wins") : "Tie" %>
  </p>

  <p>
    <b>Current Score:</b>
    [<span class='win'><%= @round.curScore1 %></span>
    - 
    <span class='loss'><%= @round.curScore2 %></span>]
  </p>

  <p>
    <b><%= link_to @player1,@player1, class: 'win' %> threw:</b>
    <%= @throw_names[@round.player1] %>
  </p>

  <p>
    <b><%= link_to @player2,@player2, class: 'loss' %> threw:</b>
    <%= @throw_names[@round.player2] %>
  </p>

</div>

<div class='container'>
  Rounds: 
  <%= @round.prev_round ? link_to("Previous (#{@round.prev_round})",game_round_path(@game,@round.prev_round.to_s)) : '' %>
  <%= (@round.prev_round and @round.next_round) ? " | " : "" %>
    <%= @round.next_round ? link_to("Next (#{@round.next_round})",game_round_path(@game.id,@round.next_round.to_s)) : '' %> 
</div>
