<h2>Edit User Infomation</h2>
<div class='container'>
<%= form_for @user, :url => account_path do |f| %>
  <%= render :partial => 'error', :object => f %>
  <br/>
  <%= f.label :email %><br/>
  <%= f.text_field :email %><br/>  
  <br/>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Save Changes" %>
<% end %>
<%= button_to 'Do Not Save Changes', :back %>
</div>
