<h1>Leaderboard</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Games Played</th>
    <th>Last Game Played</th>
    <% if @current_user %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%= link_to user.stats.wins, list_wins_user_path(user) %></td>
    <td><%= link_to (user.stats.games_played - user.stats.wins), 
	    list_losses_user_path(user) %></td>
    <td><%= link_to user.stats.games_played, list_games_user_path(user) %></td>
    <td><%= user.stats.updated_at %></td>
    <% if user == @current_user %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

</br>

<div id=user_options>
<% if @current_user %>
<%= link_to 'Play a Game?', "/games/setup" %>
 |
<%= link_to 'Logout', user_session_path, :method => :delete %>


<% else %>
<%= link_to 'Register New User', new_user_path %>
 |
<%= link_to 'Login', new_user_session_path %>

<% end %>
 |
<%= link_to "List of Games", games_path %>

</div>
