<% content_for :title do %>
: Leaderboard
<% end %>

<h2>Leaderboard</h2>

<table id="usersTable" class="tablesorter">
  <thead>
    <tr>
      <th>Username</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Games Played</th>
      <th>Last Game Played</th>
    </tr>
  </thead>
  
  <tbody>
    <% even = true
       @users.each do |user| 
         even = even ? false : true %>
    
    <tr class=<%= even ? 'even' : 'odd' %>>
      <td><%= link_to user.username, user %></td>
      <td><%= link_to user.stats.wins, list_wins_user_path(user) %></td>
      <td><%= link_to (user.stats.games_played - user.stats.wins), 
	      list_losses_user_path(user) %></td>
      <td><%= link_to user.stats.games_played, list_games_user_path(user) %></td>
      <td><%= user.stats.games.any? ? link_to(user.stats.updated_at.to_formatted_s(:long_ordinal), user.stats.games.last) : '-' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
