<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Login count</th>
    <th>Falied login count</th>
    <th>Last request at</th>
    <th>Current login at</th>
    <th>Last login at</th>
    <th>Current login ip</th>
    <th>Last login ip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.login_count %></td>
    <td><%= user.falied_login_count %></td>
    <td><%= user.last_request_at %></td>
    <td><%= user.current_login_at %></td>
    <td><%= user.last_login_at %></td>
    <td><%= user.current_login_ip %></td>
    <td><%= user.last_login_ip %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<% if @current_user.nil? %>
<%= link_to 'New User', new_user_path %>
 |
<%= link_to 'Login', new_user_session_path %>

<% else %>
<%= link_to 'Logout', user_session_path, :method => :delete %>

<% end %>
