<h2>Register</h2>

<div class='container'>
<%= form_for @user, :url => account_path do |f| %>
  <%= render :partial => 'error', :object => f %>
  <br/>
  <%= f.label :email %><br/>
  <%= f.text_field :email %><br/>  
  <br/>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Register" %>
<% end %>
</div>
