<% content_for :title do %>
: <%= @user.username %>'s Profile
<% end %>

<h2><%= @user.username %>'s Profile</h2>

<div class='container'>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Record:</b>
  <%= link_to @user.stats.wins, list_wins_user_path(@user), :class => 'win' %>
  - 
  <%= link_to (@user.stats.games_played - @user.stats.wins), list_losses_user_path(@user), :class => 'loss' %>
</p>

<p>
  <b>Total Games Played:</b>
  <%= link_to @user.stats.games_played, list_games_user_path(@user) %>
</p>

<% if @current_user == @user%>
<p>
  <b>Login count:</b>
  <%= @user.login_count %>
</p>

<p>
  <b>Falied login count:</b>
  <%= @user.falied_login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%= @user.last_request_at %>
</p>

<p>
  <b>Current login at:</b>
  <%= @user.current_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= @user.last_login_at %>
</p>

<p>
  <b>Current login ip:</b>
  <%= @user.current_login_ip %>
</p>

<p>
  <b>Last login ip:</b>
  <%= @user.last_login_ip %>
</p>

<% end %>
</div>

<p id='throws'>
  <h3>Throw History</h3>

  <table id='throwTable' class='tablesorter'>
    <thead>
      <tr>
	<th>Rocks</th>
	<th>Papers</th>
	<th>Scissors</th>
	<th>Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
	<td><%= @user.stats.rocks %></td>
	<td><%= @user.stats.papers %></td>
	<td><%= @user.stats.scissors %></td>
	<td><%= @total_throws %></td>
      </tr>
      <tr>
	<td>
	  <%= number_to_percentage(@rock_percent) %>
	</td>
	<td>
	  <%= number_to_percentage(@paper_percent) %>
	</td>
	<td>
	  <%= number_to_percentage(@scissor_percent) %>
	</td>
      </tr>
    </tbody>

  </table>

</p>

<p id='rounds'>
  <h3>Last 10 Rounds Played</h3>

  <table id="roundsTable" class="tablesorter">
    <thead>
      <tr>
	<th>Result</th>
	<th>Opponent</th>
	<th><%= @user.username %> played</th>
	<th>Opponent played</th>
	<th>Current Game Score</th>
      </tr>
    </thead>
    <tbody>
      <% @rounds.each do |round| %>
      <% curGame = Game.find(round.game_id) %>
      <% isOne = curGame.player1 == @user.stats.id %>
      <% player1 = Stats.find(curGame.player1).user %>
      <% player2 = Stats.find(curGame.player2).user %>
	
      <% if isOne %>
      <tr<%= round.winner == 1 ? " class='win'" : 
	     (round.winner == 2 ? " class='loss'" : "") %>>
	<td><%= round.winner == -1 ? '_' : (round.winner == 1 ? 'Win' : 'Loss') %></td>
	<td><%= link_to player2.username, player2 %></td>
	<td><%= @throw_names[round.player1] %></td>
	<td><%= @throw_names[round.player2] %></td>
	<td><%= link_to "#{round.curScore1} - #{round.curScore2}", round.game %></td>
      <% else %>
      <tr <%= round.winner == 1 ? " class='loss'" : 
	      (round.winner == 2 ? " class='win'" : "") %>>
	<td><%= round.winner == -1 ? '_' : (round.winner == 2 ? 'Win' : 'Loss') %></td>
	<td><%= link_to player1.username, player1 %></td>
	<td><%= @throw_names[round.player2]%></td>
	<td><%= @throw_names[round.player1] %></td>
	<td><%= link_to "#{round.curScore2} - #{round.curScore1}", round.game %></td>
	<% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>
