<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Wins:</b>
  <%= link_to @user.stats.wins, list_wins_user_path(@user) %>
</p>

<p>
  <b>Losses:</b>
  <%= link_to (@user.stats.games_played - @user.stats.wins), list_losses_user_path(@user) %>
</p>

<p>
  <b>Games Played:</b>
  <%= link_to @user.stats.games_played, list_games_user_path(@user) %>
</p>

<% if @current_user == @user%>
<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @user.persistence_token %>
</p>

<p>
  <b>Single access token:</b>
  <%= @user.single_access_token %>
</p>

<p>
  <b>Perishable token:</b>
  <%= @user.perishable_token %>
</p>

<p>
  <b>Login count:</b>
  <%= @user.login_count %>
</p>

<p>
  <b>Falied login count:</b>
  <%= @user.falied_login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%= @user.last_request_at %>
</p>

<p>
  <b>Current login at:</b>
  <%= @user.current_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= @user.last_login_at %>
</p>

<p>
  <b>Current login ip:</b>
  <%= @user.current_login_ip %>
</p>

<p>
  <b>Last login ip:</b>
  <%= @user.last_login_ip %>
</p>

<% end %>

<p id='rounds'>
  <b>Last 10 rounds</b>

  <table>
    <tr>
      <th>Result:</th>
      <th>Opponent:</th>
      <th><%= @user.username %> played:</th>
      <th>Opponent played:</th>
    </tr>

  <% @rounds.each do |round| %>
    <% curGame = Game.find(round.game_id) %>
    <% isOne = curGame.player1 == @user.stats.id %>
    <tr>
      <td><%= round.winner == -1 ? '-' : (((round.winner == 1) && isOne) or ((round.winner == 2) &&  !isOne)) ? 'Win' : 'Loss' %></td>
      <td><%= isOne ? Stats.find(curGame.player2).user.username : Stats.find(curGame.player1).user.username %></td>
      <td><%= isOne ? @throw_names[round.player1] : @throw_names[round.player2] %></td>
      <td><%= isOne ? @throw_names[round.player2] : @throw_names[round.player1] %></td>
      </tr>
  <% end %>
</p>



<% if @current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Leaderboard', users_path %>
