<% content_for :title do %>
: List of <%= @user ?  @user.username + "'s" : '' %> 
  <%= @header_option %>
<% end %>

<h2>
  List of <%= @user ? (link_to  @user.username, @user)+"'s" : '' %> 
  <%= @header_option %>
</h2>

<% if @user and not (@header_option == 'wins' or @header_option == 'losses') %>
<div class='container'>
Key:
  <span class='win'>Win</span>
  | 
  <span class='loss'>Loss</span>
</div>
<% end %>

<table id="gamesTable" class="tablesorter">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Rounds</th>
      <th>Final Score</th>
      <th>Game Played at</th>
    </tr>
  </thead>

  <tbody>
    <% even = true;
       @games.each do |game|
         winner = Stats.find(game.winner).user;
         player1 = Stats.find(game.player1).user;
         player2 = Stats.find(game.player2).user;
         even = even ? false : true; %>
    
    <tr class=<%= @user ? (@user == winner ? 'win' : 'loss') : (even ? 'even' : 'odd') %>>
      <td><%= link_to winner.username, winner  %></td>
      <td><%= link_to player1.username, player1 %></td>
      <td><%= link_to player2.username, player2 %></td>
      <td><%= link_to "#{game.rounds_played} of #{game.total_rounds}", game_rounds_path(game) %></td>
      <td><%= link_to "#{game.score1} - #{game.score2}", game %></td>
      <td><%= link_to game.updated_at.to_formatted_s(:short), game %></td>
    </tr>
    <% end %>
  </tbody>
</table>
