<% content_for :title do %>
: Game Over -  "<%= @winner.username %>" wins
<% end %>

<h2>Game Over!</h2>

<div class='container'>
<p>User "<%= link_to @winner.username, @winner %>" wins (in 
<%= @game.rounds_played %> of <%= @game.total_rounds %> rounds)!
</p>

<p>Final score:
  <%= @game.score1 %> - <%= @game.score2 %>
</p>

<p>
  <%= link_to "Game Details", @game %>
</p>

</div>
