<% content_for :title do %>
: Game Details
<% end %>

<h2>Game Details</h2>

<div class='container'>
<p>
  <b>Players:</b>
  <%= link_to @player1.username, @player1, :style => @style1 %>
	  vs.
  <%= link_to @player2.username, @player2, :style => @style2 %>
</p>

<p>
  <b>Winner:</b>
  <%= link_to @winner.username, @winner, :style => (@winner == @player1 ?
  @style1 : @style2) %>
</p>

<p>
  <b>Rounds:</b>
  <%= @game.rounds_played %> of <%= @game.total_rounds %>
</p>

<p>
  <b> Final Score:</b>
  <span style=<%= @style1 %>><%= @game.score1 %></span>
  - 
  <span style=<%= @style2 %>><%= @game.score2 %></span>
</p>

</div>

<p>
  <h3>Rounds:</h3>

  <table id="roundsTable" class="tablesorter">
    <thead>
      <tr>
	<th>Round #</th>
	<th>Winner</th>
	<th><%= @player1.username %> played</th>
	<th><%= @player2.username %> played</th>
	<th>Current Score</th>
      </tr>
    </thead>

    <tbody>
      <% @rounds.each do |round| %>
      <tr
 	 <%= round.winner == 1 ? "style="+@style1 : 
	     (round.winner == 2 ? "style="+@style2 : "") %>
	  >
	<td><%= round.num_round %></td>
	<td><%= round.winner < 0 ? '_' : (round.winner == 1 ? (link_to @player1.username, @player1) : (link_to @player2.username, @player2) ) %></td>
	<td><%= @throw_names[round.player1] %></td>
	<td><%= @throw_names[round.player2] %></td>
	<td><%= round.curScore1 %> - <%= round.curScore2 %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</p>
