<h2>Game Details</h2>

<div class='container'>
<p>
  <b>Winner:</b>
  <%= link_to @winner.username, @winner %>
</p>

<p>
  <b>Players:</b>
  <ul>
    <li><%= link_to @player1.username, @player1 %></li>
    <li><%= link_to @player2.username, @player2 %></li>
  </ul>
</p>

<p>
  <b>Rounds Played:</b>
  <%= @game.rounds_played %>
</p>

<p>
  <b> Total Rounds:</b>
  <%= @game.total_rounds %>
</p>

</div>

<p>
  <h3>Rounds:</h3>

  <table id="roundsTable" class="tablesorter">
    <thead>
      <tr>
	<th>Round #</th>
	<th>Winner</th>
	<th><%= @player1.username %> played</th>
	<th><%= @player2.username %> played</th>
	<th>Current Score</th>
      </tr>
    </thead>

    <tbody>
      <% @rounds.each do |round| %>
      <tr>
	<td><%= round.num_round %></td>
	<td><%= round.winner < 0 ? '_' : (round.winner == 1 ? (link_to @player1.username, @player1) : (link_to @player2.username, @player2) ) %></td>
	<td><%= @throw_names[round.player1] %></td>
	<td><%= @throw_names[round.player2] %></td>
	<td><%= round.curScore1 %> - <%= round.curScore2 %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</p>
